name: 'Terraform Apply on Merge'

on:
  push:
    branches:
      - main
    paths:
      - 'infrastructure/**.tf'   
      - 'infrastructure/**.tfvars'
      - 'infrastructure/.terraform.lock.hcl'

permissions:
  id-token: write
  contents: read

jobs:
  terraform_apply:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest
    environment: production
    defaults:
      run:
        working-directory: ./infrastructure  
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::151462990345:role/GitHubActions-Apply
          aws-region: us-east-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false